{% extends "base.html" %}
{% block title %}Posts{% endblock %}
{% block content %}
  <h2>All Posts</h2>
  <a href="{% url 'post_create' %}">+ New Post</a>
  <ul>
    {% for post in posts %}
      <li>
        <strong>{{ post.title }}</strong>
        ({{ post.visibility }}) by {{ post.author.username }}
        <p>{{ post.plaintext }}</p>
        {% if post.author_id == user.id %}
          <a href="{% url 'post_edit' pk=post.id %}">Edit</a> |
          <a href="{% url 'post_delete' pk=post.id %}">Delete</a>
        {% endif %}
      </li>
    {% empty %}
      <li>No posts yet.</li>
    {% endfor %}
  </ul>
{% endblock %}